
.toy-filter{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    /* margin-top: 30px; */
    /* background-color: var(--clr1); */
    /* height: 159px; */
    /* padding: 10px; */
    justify-self: center;
   
    
}
.toy-search-input{
    width: 30vw;
    padding: 10px;
  border: none;
    outline: none;
}

.more-options{
    display: flex;
    gap: 20px;
    align-items: center;
}

.multi-select{
  background-color: white;
}

.multi-select-input{
    /* background-color: blue; */
    border: none !important;
    outline: none !important;
}


.filter-cont{
    
    background-color: var(--clr1);
    height: 100px;
    padding:0 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}
