
.toy-filter{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    margin-top: 30px;
}
.toy-search-input{
    width: 30vw;
    padding: 10px;
}

.more-options{
    display: flex;
    gap: 20px;
    align-items: center;
}

.multi-select{
    width: 500px;
}